<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Drawing Data</h1>
<div>
<table>
    <td><a th:href="${'/drawings/' + {drawing.id}} + '/update'">Edit</a></td>

    <tr>
        <th>ID</th>
        <td>
            <span th:text = "${drawing.humanReadableId}"></span>
        </td>
    </tr>
    <tr>
        <th>Name</th>
        <td>
            <span th:text = "${drawing.name}"></span>
        </td>
    </tr>
    <tr>
        <th>Date</th>
        <td>
            <span th:text = "${#dates.format(drawing.time,'yyyy-MM-dd')}"/>
        </td>
    </tr>
    <tr>
        <th>Time </th>
        <td>
            <span th:text = "${#dates.format(drawing.time,'HH:mm:ss')}"/>
        </td>
    </tr>
    <th>Max Tickets</th>
    <td>
        <span th:text = "${drawing.maxTickets}"/>
    </td>
    </tr>
    <tr>
    <th>Winning Ticket</th>
        <td th:text="${drawing.winningTicketId != null} ? ${ticketDelegate.findTicketById(drawing.winningTicketId).getHumanReadableId()}"/>

    </tr>

    <tr>
        <td><a href="/" > home </a></td>
        <td><a href="/people" > people </a></td>
        <td><a href="/drawings" > drawings </a></td>
    </tr>
</table>
</div>
<div>
    <h4>Tickets</h4>
    <table>
        <th style="display: none">Ticket ID</th>
        <th>Ticket Reference</th>
        <th>Person Reference</th>
        <th>Person Name</th>
        <th>Drawing Reference</th>

        <tr th:each="ticket: ${ticketList}">
            <td style="display:none;" th:text="${ticket.id}"/>
            <td th:text = "${ticket.humanReadableId}">
            <td th:text="${ticket.personId != null} ? ${personDelegate.findPersonById(ticket.personId).getHumanReadableId()}"/>
            <td th:if="${ticket.personId != null}">
                <a th:href="${'/person/' + {ticket.personId}}"
                   th:text ="${ticketDelegate.findTicketById(ticket.id) != null} ?
                        ${{personDelegate.findPersonById(ticketDelegate.findTicketById(ticket.id).personId).firstName} + ' '
                        +{personDelegate.findPersonById(ticketDelegate.findTicketById(ticket.id).personId).lastName} } : ' n/a'"></a>

            </td>

            </td>
            <td th:text = "${drawingDelegate.findDrawingById(ticket.drawingId).getHumanReadableId()}"/>
        </tr>



</table>
</div>
</body>
</html>