<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <h1>Drawings Summary</h1>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Date</th>
        <th>Time</th>
        <th>Max Tickets</th>
        <th>Active</th>
        <th>View</th>
        <th>Update</th>
        <th>Draw</th>
        <th>Cancel</th>
        <th>Winning Ticket</th>
        <th>Person</th>

    </tr>

    <tr th:each="drawing: ${drawingList}">
        <td th:text="${drawing.humanReadableId}"/>
        <td th:text="${drawing.name}"/>
        <td th:text="${#dates.format(drawing.time, 'yyyy-MM-dd')}"/>
        <td th:text="${#dates.format(drawing.time, 'HH:mm')}"/>
        <td th:text="${drawing.maxTickets}"/>
        <td th:text="${drawing.isActive}"/>


        <td>
            <a th:href="${'/drawings/' + {drawing.id}}">View</a>
        </td>
        <td>
            <a th:href="${'/drawings/' + {drawing.id}} + '/update'"th:text = "${drawing.isActive != true} ? ' ': 'Update'"></a>
        </td>
        <td >
            <a th:href="${'/drawing/' + {drawing.id}} + '/drawWinner'" th:text = "${drawing.isActive != true} ? ' ': 'Draw'"></a>

        </td>
        <td >
            <a th:href="${'/drawing/' + {drawing.id}} + '/cancel'" th:text = "${drawing.isActive != true} ? ' ': 'Cancel'"></a>

        </td>
        <td>
            <span th:if="${drawing.winningTicketId != null}">
                <a th:href="${'/person/' + {ticketDelegate.findTicketById(drawing.getWinningTicketId()).personId}}"
                   th:text ="${ticketDelegate.findTicketById(drawing.getWinningTicketId()).personId != null} ?
                        ${{personDelegate.findPersonById(ticketDelegate.findTicketById(drawing.getWinningTicketId()).personId).firstName} + ' '
                        +{personDelegate.findPersonById(ticketDelegate.findTicketById(drawing.getWinningTicketId()).personId).lastName} } : ' ' "></a>
            </span>
        </td>


    <tr>
        <td>
            <a href="/" > home </a>
        </td>

        <td>
            <a href="/people" > people </a>
        </td>

    </tr>
</table>

</body>
</html>