<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <h1>Drawings Summary</h1>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Date</th>
        <th>Time</th>
        <th>Max Tickets</th>
        <th>View</th>
        <th>Update</th>
    </tr>

    <tr th:each="drawing: ${drawingList}">
        <td th:text="${drawing.id}"/>
        <td th:text="${drawing.name}"/>
        <td th:text="${#dates.format(drawing.time, 'yyyy-MM-dd')}"/>
        <td th:text="${#dates.format(drawing.time, 'HH:mm')}"/>
        <td th:text="${drawing.maxTickets}"/>
        <td>
            <a th:href="${'/drawings/' + {drawing.id}}">View</a>
        </td>
        <td>
            <a th:href="${'/drawings/' + {drawing.id}} + '/update'">Update</a>
        </td>
    </tr>

    <tr>
        <td>
            <a href="/" > home </a>
        </td>

        <td>
            <a href="/people" > people </a>
        </td>

    </tr>
</table>

</body>
</html>