<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/drawings" th:object="${drawingDTO}" >
    <h1> Drawing Form</h1>


    <table>
        <tr>
            <td>
                <label>Drawing Ref:</label>
                <span th:text = "*{humanReadableId}"></span>
                <input th:field="*{humanReadableId}" th:value = "*{humanReadableId}" type="hidden"/>

            </td>
            <td>
                <span>
                    <label>
                        <input th:field="*{id}" th:value = "*{id}" type="hidden"/>
                    </label>
                </span>
            </td>
        </tr>

        <tr>
            <td>
                <label>Name: </label>
                <label>
                    <input type="text" th:field="*{name}"
                           th:placeholder = "*{name}"
                           th:value = "*{name}"
                    >
                </label>
                <span th:errors = "*{name}" class="error"></span>

            </td>
        </tr>

        <tr>
            <td>
                <label>Date (YYYY-MM-DD)</label>
                <label>
                    <input type="text" th:field="*{dateString}"
                           th:placeholder = "*{dateString}"
                           th:value = "*{dateString}"
                    >
                </label>
            </td></tr>
        <tr>

        <tr>
            <td>
                <label>Time (hh:mm)</label>
                <label>
                    <input type="text" th:field="*{timeString}"
                           th:placeholder = "*{timeString}"
                           th:value = "*{timeString}">
                </label>
            </td></tr>

        <tr>


        <tr>
            <td>
                <label>Max Tickets</label>
                <label>
                    <input type="number" th:field="*{maxTickets}"
                           th:placeholder = "*{maxTickets}"
                           th:value = "*{maxTickets}"
                           min="2">
                </label>
                <span th:errors = "*{maxTickets}" class="error"></span>

            </td></tr>

        <tr>



            <td>
                <button type="submit">Submit</button>
                <button type = "reset">Reset</button>
            </td>
        </tr>
    </table>

</form>




</body>
</html>