<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/drawings" modelattribute="updateDrawing">
    <h1> Drawing Update Form</h1>
    <table>
        <tr>
            <td>
                <span>ID: </span>
                <span th:text = "${existingDrawing.humanReadableId}"></span>
            </td>
            <td>
                <label>
                    <input type="hidden" name="id" th:value = "${existingDrawing.id}"/>
                </label>
            </td>
        </tr>

        <tr>
            <td>
                <label>Name: </label>
                <label>
                    <input type="text" name="name" th:placeholder = "${existingDrawing.name}">
                </label>
            </td>
        </tr>

        <tr>
            <td>
                <label>Date (YYYY-MM-DD)</label>
                <label>
                    <input type="text" name="dateString" th:placeholder = "${#dates.format(existingDrawing.time, 'yyyy-MM-dd')}">
                </label>
            </td></tr>
        <tr>

        <tr>
            <td>
                <label>Time (hh:mm)</label>
                <label>
                    <input type="text" name="timeString" th:placeholder = "${#dates.format(existingDrawing.time, 'HH:mm')}">
                </label>
            </td></tr>

        <tr>


        <tr>
            <td>
                <label>Max Tickets</label>
                <label>
                    <input type="number" name="maxTickets" th:placeholder = "${existingDrawing.maxTickets}">
                </label>
            </td></tr>

        <tr>



            <td>
                <button type="submit">Submit</button>
                <button type = "reset">Reset</button>
            </td>
        </tr>
    </table>

</form>




</body>
</html>