<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"/>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hi, I am the Drawing Landing Page.  You can...</h1>
<table>
    <tr> <td>
        <label text = 'display drawings'>Display Drawings: </label>
        <a href="/drawings/all">All</a>
        <a href="/drawings/active">Current</a>
        <a href="/drawings/inactive">Past</a>
    </td></tr>
    <tr><td> <a href="/drawings/add">Add A drawing</a></td></tr>
    <tr><td> <a href="/drawings/drawWinner">Draw Winners</a></td></tr>

    <tr>
        <td><a href="/" > home </a></td>
        <td><a href="/people" > people </a></td>
        <td><a href="/drawings" > drawings </a></td>
    </tr>
</table>

</body>
</html>