<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<tr>
    <td><a href="/" > home </a></td>
    <td><a href="/people" > people </a></td>
    <td><a href="/drawings" > drawings </a></td>
    <td><a href="/drawings" > tickets </a></td>

</tr>
<div>
    <h1>Person Data</h1>

    <table>
        <tr>
            <td><a th:href="${'/person/' + {person.id}} + '/update'">Edit</a></td>
        </tr>
        <tr>
            <td><span ></span></td>
        </tr>
        <tr>
            <th>ID</th>
            <td>
                <span th:text = "${person.id}"></span>
            </td>
        </tr>
        <tr>
            <th>First Name</th>
            <td>
                <span th:text = "${person.firstName}"></span>
            </td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>
                <span th:text = "${person.lastName}"/>
            </td>
        </tr>
            <th>Email</th>
            <td>
                <span th:text = "${person.email}"/>
            </td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>
                <span th:text = "${person.phoneNumber}"/>
            </td>
        </tr>
    </table>
</div>
<div>
    <h4>Tickets</h4>
    <table>

        <tr th:each="ticket: ${ticketList}">
            <td><label>Ticket Number: </label></td>
            <td th:text="${ticket.id}"/>
            <td><label>Person ID: </label></td>
            <td th:text="${ticket.personId}"/>
            <td><label>Drawing ID:</label></td>
            <td th:text="${ticket.drawingId}"/>

        </tr>


    </table>
</div>

</body>
</html>