<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Person Data</h1>

    <table>
        <tr>
            <th>ID</th>
            <td>
                <span th:text = "${person.id}"></span>
            </td>
        </tr>
        <tr>
            <th>First Name</th>
            <td>
                <span th:text = "${person.firstName}"></span>
            </td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>
                <span th:text = "${person.lastName}"/>
            </td>
        </tr>
            <th>Email</th>
            <td>
                <span th:text = "${person.email}"/>
            </td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>
                <span th:text = "${person.phoneNumber}"/>
            </td>
        </tr>


    </table>

</body>
</html>