<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<tr>
    <td><a href="/" > home </a></td>
    <td><a href="/people" > people </a></td>
    <td><a href="/drawings" > drawings </a></td>
    <td><a href="/drawings" > tickets </a></td>

</tr>
<div>
    <h1>Person Data</h1>

    <table>
        <tr>
            <td><a th:href="${'/person/' + {person.id}} + '/update'">Edit</a></td>
        </tr>
        <tr>
            <td><span ></span></td>
        </tr>
        <tr>
            <th>Person Ref</th>
            <td>
                <span th:text = "${person.humanReadableId}"></span>
            </td>
        </tr>
        <tr>
            <th>First Name</th>
            <td>
                <span th:text = "${person.firstName}"></span>
            </td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>
                <span th:text = "${person.lastName}"/>
            </td>
        </tr>
            <th>Email</th>
            <td>
                <span th:text = "${person.email}"/>
            </td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>
                <span th:text = "${person.phoneNumber}"/>
            </td>
        </tr>
    </table>
</div>
<div>
    <h4>Tickets</h4>
    <table>
        <tr>
            <th>Ticket Ref</th>
            <th>Person Ref</th>
            <th>Drawing Ref</th>
            <th>Drawing Name</th>
            <th>Winner?</th>

        </tr>

        <tr th:each="ticket: ${ticketList}">
            <td th:text="${ticket.humanReadableId}"/>
            <td th:text="${ticket.personId != null} ? ${personDelegate.findPersonById(ticket.personId).getHumanReadableId()}"/>
            <td th:text="${drawingDelegate.findDrawingById(ticket.drawingId).getHumanReadableId()}"/>
            <td><a th:href="${'/drawings/' + {ticket.drawingId}}" th:text="${drawingDelegate.findDrawingById(ticket.drawingId).getName()}"/></td>
            <td th:text="${ticket.isWinner}"/>

        </tr>


    </table>
</div>

</body>
</html>