<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hi, I am the people Landing Page.  You can...</h1>
    <table>
        <tr> <td><a href="/person">Display all people</a></td></tr>
        <tr><td> <a href="/people/add">Add A person</a></td></tr>

        <tr>
            <td><a href="/" > home </a></td>
            <td><a href="/people" > people </a></td>
            <td><a href="/drawings" > drawings </a></td>
        </tr>
    </table>

</body>
</html>