<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="/people/add" modelAttribute="person">
        <h1> Person Form</h1>
        <table>
            <tr>
                <td>
                    <label>First Name: </label>
                     <input type="text" name="firstName">
                </td>
            </tr>

            <tr
                ><td>
                    <label> Last Name: </label>
                    <input type="text" name="lastName">
                </td>
            </tr>
            <tr>
                <td>
                    <label> Email </label>
                    <input type="text" name="email">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Phone</label>
                    <input type="text" name="phone">
                </td></tr>

            <tr>
                <td>
                    <button type="submit">Submit</button>
                    <button type = "reset">Reset</button>
                </td>
            </tr>
        </table>

    </form>




</body>
</html>