<!DOCTYPE html>
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form"%>
<html xmlns:th="http://thymeleaf.org" xmlns:form="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1> Person Form</h1>
    <form : form method = POST
        action = "/people" modelAttribut = "person">
        <table>
            <tr>
                <td><form: label path = "name"> Name </form:>label</td>
                <td><form: input path = "name"/></td>
            </tr>
        </table>

    </form>

</body>
</html>