<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/person/" modelAttribute="personUpdate">
    <h1> Person Form</h1>
    <table>
        <tr>
            <td>
                <span>ID: </span>
                <span th:text = "${existingPerson.humanReadableId}"></span>
            </td>
            <td>
                <label>
                    <input type="hidden" name="id" th:value = "${existingPerson.id}"/>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <span>Active: </span>
                <span th:text = "${existingPerson.isActive}"></span>
            </td>
            <td>
                <label>
                    <input type="hidden" name="isActive" th:value = "${existingPerson.isActive}"/>
                </label>
            </td>
        </tr>

        <tr>
            <td>
                <label>First Name: </label>
                <label>
                    <input type="text" name="firstName" th:placeholder="${existingPerson.firstName}">
                </label>
            </td>
        </tr>
        <tr
        ><td>
            <label> Last Name: </label>
            <label>
                <input type="text" name="lastName" th:placeholder = "${existingPerson.lastName}">
            </label>
        </td>
        </tr>
        <tr>
            <td>
                <label> Email </label>
                <label>
                    <input type="text" name="email" th:placeholder = "${existingPerson.email}">
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label>Phone</label>
                <label>
                    <input type="text" name="phoneNumber" th:placeholder = "${existingPerson.phoneNumber}">
                </label>
            </td></tr>

        <tr>



            <td>
                <button type="submit">Submit</button>
                <button type = "reset">Reset</button>
            </td>
        </tr>
    </table>

</form>




</body>
</html>