<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Ticket Data</h1>

<table>

    <tr>
        <label><td>Ticket Ref</td></label>

        <td>
            <span th:text = "${ticket.humanReadableId}"></span>
        </td>
    <tr>
        <label><td>Drawing Ref</td></label>
        <td>
            <span th:text = "${drawingDelegate.findDrawingById(ticket.drawingId).getHumanReadableId()}"></span>
        </td>
        <td>
        <td><a th:href="${'/drawings/' + {ticket.drawingId}}" th:text="${drawingName} ?: ''"></a></td>
        </td>
    </tr>
    <tr>
        <label><td>Person Ref</td></label>
        <td th:text="${ticket.personId != null} ? ${personDelegate.findPersonById(ticket.personId).getHumanReadableId()} : ''" ></td>
        <td>
        <td><a th:href="${'/person/' + {ticket.personId}}" th:text="${personName} ?: ''"></a></td>
        </td>
    </tr>

    <tr>
        <td><a href="/" > home </a></td>
        <td><a href="/people" > people </a></td>
        <td><a href="/drawings" > drawings </a></td>
        <td><a href="/tickets" > tickets </a></td>
    </tr>



</table>

</body>
</html>