<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/tickets/add">
    <h1> Ticket Update Form</h1>
    <table>
        <tr>
            <td>
                <label>Drawing: </label>
            </td>
            <td>
                <select name = "drawingId" id = "drawingId">
                    <option value="">Select Drawing</option>
                    <option th:each="drawing : ${drawingList}" th:value = "${drawing.getId()}" th:text = "${drawing.getName()}" name = "ticket.drawingId"></option>
                </select>
            </td>

         <tr>
            <td>
                <label>Person</label>
            </td>
        <td>
            <select id = "personId" name = "personId">
                <option value="">Select Person</option>
                <option th:each="person : ${peopleList}" th:value = "${person.getId()}" th:text = "${person.getFirstName()} + ' ' + ${person.getLastName()}"></option>
            </select>
        </td>
    </tr>

        <tr>



            <td>
                <button type="submit">Submit</button>
                <button type = "reset">Reset</button>
            </td>
        </tr>
    </table>

</form>




</body>
</html>