<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/tickets/add">
    <h1> Ticket Update Form</h1>
    <table>
        <tr>
            <td>
                <label>Drawing Id: </label>
                <label>
                    <input type="number" name="drawingId" >
                </label>
            </td>
        </tr>

         <tr>
            <td>
                <label>Person Id</label>
                <label>
                    <input type="number" name="personId" >
                </label>
            </td></tr>

        <tr>



            <td>
                <button type="submit">Submit</button>
                <button type = "reset">Reset</button>
            </td>
        </tr>
    </table>

</form>




</body>
</html>