<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"/>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hi, I am the Prize Landing Page.  You can...</h1>
<table>
    <tr> <td>
        <label text = 'display prizes'>Display Prizes: </label>
        <a href="/prizes/all">All</a>
        <a href="/prizes/active">Current</a>
        <a href="/prizes/inactive">Past</a>
    </td></tr>
    <tr><td> <a href="/prizes/add">Add A prize</a></td></tr>

    <tr>
        <td><a href="/" > home </a></td>
        <td><a href="/people" > people </a></td>
        <td><a href="/drawings" > drawings </a></td>
        <td><a href="/tickets" > tickets </a></td>
    </tr>
</table>

</body>
</html>